<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>LOGIN</title>
</head>
<body>
    <h1>LOGIN</h1>

    <input type="username" name="username_login" id="Username" placeholder="Username" />
    <br>
    <br>
    <input type="password" name="pass_login" id="Password" placeholder="Password" />
    <br>
    <br>
    <span style="color:red" id="error"></span>
    <button id="btn_signin" onclick="loginSumit();">Sign In</button>

</body>
</html>
<script src="../static/login.js"></script>